<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.GoodsTypeMapper">

    <resultMap id="goodsType" type="com.bc.erp.entity.goods.GoodsType">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="symbol" property="symbol" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addGoodsType" parameterType="com.bc.erp.entity.goods.GoodsType">
        INSERT INTO t_goods_type
        (
        id,
        enterprise_id,
        name,
        symbol,
        create_id,
        create_time
        )
        VALUES
        (
        #{id},
        #{enterpriseId},
        #{name},
        #{symbol},
        #{createId},
        now()
        )
    </insert>

    <select id="getGoodsTypeList" resultMap="goodsType">
        SELECT *
        FROM t_goods_type
        WHERE enterprise_id = #{enterpriseId}
        ORDER BY create_time DESC
    </select>

    <select id="getGoodsTypeById" resultMap="goodsType" parameterType="String">
        SELECT *
        FROM t_goods_type
        WHERE id = #{id}
    </select>

</mapper>