<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.GoodsMapper">

    <resultMap id="goods" type="com.bc.erp.entity.Goods">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="photos" property="photos" jdbcType="VARCHAR"/>
        <result column="spec_x" property="specX" jdbcType="VARCHAR"/>
        <result column="spec_y" property="specY" jdbcType="VARCHAR"/>
        <result column="stock_num" property="stockNum" jdbcType="DECIMAL"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="type_id" property="typeId" jdbcType="VARCHAR"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="create_id" property="createId" jdbcType="VARCHAR"/>
        <result column="create_name" property="createName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <collection property="goodsSpecList"
                    javaType="list"
                    ofType="com.bc.erp.entity.GoodsSpec"
                    select="getGoodsSpecListByGoodsId"
                    column="id"/>
    </resultMap>

    <resultMap id="goodsSpec" type="com.bc.erp.entity.GoodsSpec">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="x" property="x" jdbcType="VARCHAR"/>
        <result column="y" property="y" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="DECIMAL"/>
    </resultMap>

    <insert id="addGoods" parameterType="com.bc.erp.entity.Goods">
        INSERT INTO t_goods
        (
        id,
        enterprise_id,
        no,
        name,
        photos,
        type_id,
        spec_x,
        spec_y,
        unit,
        create_id,
        create_time,
        modify_time
        )
        VALUES
        (
        #{id},
        #{enterpriseId},
        #{no},
        #{name},
        #{photos},
        #{typeId},
        #{specX},
        #{specY},
        #{unit},
        #{createId},
        now(),
        now()
        )
    </insert>

    <select id="getGoodsList" resultMap="goods">
        SELECT g.*,
        gt.name AS type_name,
        u.name AS create_name
        FROM t_goods g
        LEFT JOIN t_goods_type gt ON g.type_id = gt.id
        LEFT JOIN t_user u ON g.create_id = u.id
        WHERE g.enterprise_id = #{enterpriseId}
        AND g.delete_status = #{deleteStatus}
        <if test="keyword != null and keyword != ''">
            AND CONCAT(g.name, g.no) LIKE CONCAT('%', #{keyword},'%')
        </if>
        ORDER BY g.modify_time DESC
    </select>

    <select id="getGoodsById" resultMap="goods" parameterType="String">
        SELECT g.*,
        gt.name AS type_name
        FROM t_goods g
        LEFT JOIN t_goods_type gt ON g.type_id = gt.id
        WHERE g.id = #{goodsId}
    </select>

    <select id="getGoodsSpecListByGoodsId" resultMap="goodsSpec">
        SELECT *
        FROM t_goods_spec
        WHERE goods_id = #{goodsId}
        ORDER BY sort ASC
    </select>

</mapper>