<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.GoodsUnitMapper">

    <resultMap id="goodsUnit" type="com.bc.erp.entity.goods.GoodsUnit">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addGoodsUnit" parameterType="com.bc.erp.entity.goods.GoodsUnit">
        INSERT INTO t_goods_unit
        (
        id,
        enterprise_id,
        name,
        create_id,
        create_time
        )
        VALUES
        (
        #{id},
        #{enterpriseId},
        #{name},
        #{createId},
        now()
        )
    </insert>

    <update id="updateGoodsUnit" parameterType="com.bc.erp.entity.goods.GoodsUnit">
        UPDATE t_goods_unit
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <select id="getGoodsUnitListByName" resultMap="goodsUnit">
        SELECT *
        FROM t_goods_unit
        WHERE enterprise_id = #{enterpriseId}
        AND name = #{name}
        <if test="id != null and id != ''">
            AND id <![CDATA[<>]]> #{id}
        </if>
    </select>

    <select id="getGoodsUnitList" resultMap="goodsUnit">
        SELECT *
        FROM t_goods_unit
        WHERE enterprise_id = #{enterpriseId}
        ORDER BY create_time DESC
    </select>

    <select id="deleteGoodsUnit" parameterType="String">
        DELETE
        FROM t_goods_unit
        WHERE id = #{id}
    </select>

</mapper>