<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.OcrLogMapper">

    <insert id="addOcrLog" parameterType="com.bc.erp.entity.ocr.OcrLog">
        INSERT INTO t_ocr_log
        (
        id,
        module_type,
        param_url,
        status,
        cost,
        result_url,
        create_time
        )
        VALUES
        (
        #{id},
        #{moduleType},
        #{paramUrl},
        #{status},
        #{cost},
        #{resultUrl},
        now()
        )
    </insert>

</mapper>