<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.OrderMapper">

    <insert id="addOrder" parameterType="com.bc.erp.entity.Goods">
        INSERT INTO t_order
        (
        id,
        enterprise_id,
        type,
        rc_id,
        rc_contact_id,
        no,
        po,
        goods_id,
        create_id,
        create_time
        )
        VALUES
        (
        #{id},
        #{enterpriseId},
        #{type},
        #{rcId},
        #{rcContactId},
        #{no},
        #{po},
        #{goodsId},
        #{createId},
        now()
        )
    </insert>

</mapper>