<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.OrderMaterialMapper">

    <resultMap id="orderMaterial" type="com.bc.erp.entity.order.OrderMaterial">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="goods_no" property="goodsNo" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="related_order_id" property="relatedOrderId" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addOrderMaterialList" parameterType="list">
        insert into t_order_material
        (
        id,
        order_id,
        goods_id,
        position,
        currency,
        create_id,
        create_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.orderId},
            #{item.goodsId},
            #{item.position},
            #{item.currency},
            #{item.createId},
            now()
            )
        </foreach>
    </insert>

    <select id="getOrderMaterialList" resultMap="orderMaterial">
        SELECT om.*,
        g.no AS goods_no,
        g.name AS goods_name,
        g.unit AS goods_unit,
        gt.name AS type_name
        FROM t_order_material om
        LEFT JOIN t_goods g ON om.goods_id = g.id
        LEFT JOIN t_goods_type gt ON g.type_id = gt.id
        WHERE om.order_id = #{orderId}
    </select>

</mapper>