<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.OrderDeliveryMapper">

    <resultMap id="orderDelivery" type="com.bc.erp.entity.order.OrderDelivery">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_id" property="createId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="orderDeliveryDetail" type="com.bc.erp.entity.order.OrderDeliveryDetail">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="delivery_id" property="deliveryId" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="spec_id" property="specId" jdbcType="VARCHAR"/>
        <result column="spec_x" property="specX" jdbcType="VARCHAR"/>
        <result column="spec_y" property="specY" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addOrderDeliveryList" parameterType="list">
        insert into t_order_delivery
        (
        id,
        order_id,
        date,
        unit,
        remark,
        create_id,
        create_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.orderId},
            #{item.date},
            #{item.unit},
            #{item.remark},
            #{item.createId},
            now()
            )
        </foreach>
    </insert>

    <insert id="addOrderDeliveryDetailList" parameterType="list">
        insert into t_order_delivery_detail
        (
        id,
        order_id,
        delivery_id,
        goods_id,
        spec_id,
        num,
        create_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.orderId},
            #{item.deliveryId},
            #{item.goodsId},
            #{item.specId},
            #{item.num},
            now()
            )
        </foreach>
    </insert>

    <select id="getOrderDeliveryList" resultMap="orderDelivery">
        SELECT *
        FROM t_order_delivery
        WHERE order_id = #{orderId}
    </select>

    <select id="getOrderDeliveryDetailList" resultMap="orderDeliveryDetail">
        SELECT odd.*,
        gs.x AS spec_x,
        gs.y AS spec_y
        FROM t_order_delivery_detail odd
        LEFT JOIN t_goods_spec gs ON odd.spec_id = gs.id
        WHERE odd.order_id = #{orderId}
    </select>

</mapper>