<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.OrderMapper">

    <resultMap id="order" type="com.bc.erp.entity.order.Order">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="rc_id" property="rcId" jdbcType="VARCHAR"/>
        <result column="rc_name" property="rcName" jdbcType="VARCHAR"/>
        <result column="rc_contact_id" property="rcContactId" jdbcType="VARCHAR"/>
        <result column="rc_contact_name" property="rcContactName" jdbcType="VARCHAR"/>
        <result column="no" property="no" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="VARCHAR"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="goods_no" property="goodsNo" jdbcType="VARCHAR"/>
        <result column="goods_spec_x" property="goodsSpecX" jdbcType="VARCHAR"/>
        <result column="goods_spec_y" property="goodsSpecY" jdbcType="VARCHAR"/>
        <result column="goods_photos" property="goodsPhotos" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="create_id" property="createId" jdbcType="VARCHAR"/>
        <result column="create_name" property="createName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addOrder" parameterType="com.bc.erp.entity.Goods">
        INSERT INTO t_order
        (
        id,
        enterprise_id,
        parent_id,
        type,
        rc_id,
        rc_contact_id,
        no,
        project_id,
        goods_id,
        create_id,
        create_time,
        modify_time
        )
        VALUES
        (
        #{id},
        #{enterpriseId},
        #{parentId},
        #{type},
        #{rcId},
        #{rcContactId},
        #{no},
        #{projectId},
        #{goodsId},
        #{createId},
        now(),
        now()
        )
    </insert>

    <insert id="addOrderList" parameterType="list">
        INSERT INTO t_order
        (
        id,
        enterprise_id,
        parent_id,
        type,
        rc_id,
        rc_contact_id,
        no,
        project_id,
        goods_id,
        create_id,
        create_time,
        modify_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.enterpriseId},
            #{item.parentId},
            #{item.type},
            #{item.rcId},
            #{item.rcContactId},
            #{item.no},
            #{item.projectId},
            #{item.goodsId},
            #{item.createId},
            now(),
            now()
            )
        </foreach>
    </insert>

    <select id="getOrderList" resultMap="order">
        SELECT o.*,
        rc.name AS rc_name,
        rcc.name AS rc_contact_name,
        p.name AS project_name,
        g.no AS goods_no,
        g.spec_x AS goods_spec_x,
        g.spec_y AS goods_spec_y,
        g.photos AS goods_photos,
        g.name AS goods_name,
        g.unit AS goods_unit,
        gt.name AS type_name,
        u.name AS create_name
        FROM t_order o
        LEFT JOIN t_related_company rc ON o.rc_id = rc.id
        LEFT JOIN t_related_company_contact rcc ON o.rc_contact_id = rcc.id
        LEFT JOIN t_project p ON o.project_id = p.id
        LEFT JOIN t_goods g ON o.goods_id = g.id
        LEFT JOIN t_goods_type gt ON g.type_id = gt.id
        LEFT JOIN t_user u on o.create_id = u.id
        WHERE o.enterprise_id = #{enterpriseId}
        AND o.delete_status = #{deleteStatus}
        AND o.type in
        <foreach collection="typeList" item="type" index="index" open="(" close=")" separator=",">
            #{type}
        </foreach>
        ORDER BY o.modify_time DESC
    </select>

    <select id="getOrderById" resultMap="order">
        SELECT o.*,
        rc.name AS rc_name,
        rcc.name AS rc_contact_name,
        p.name AS project_name,
        g.no AS goods_no,
        g.spec_x AS goods_spec_x,
        g.spec_y AS goods_spec_y,
        g.photos AS goods_photos,
        g.name AS goods_name,
        g.unit AS goods_unit,
        gt.name AS type_name,
        u.name AS create_name
        FROM t_order o
        LEFT JOIN t_related_company rc ON o.rc_id = rc.id
        LEFT JOIN t_related_company_contact rcc ON o.rc_contact_id = rcc.id
        LEFT JOIN t_project p ON o.project_id = p.id
        LEFT JOIN t_goods g ON o.goods_id = g.id
        LEFT JOIN t_goods_type gt ON g.type_id = gt.id
        LEFT JOIN t_user u ON o.create_id = u.id
        WHERE o.id = #{id}
    </select>

    <select id="getOrderListByParentIdAndGoodsType" resultMap="order">
        SELECT o.*
        FROM t_order o
        LEFT JOIN t_goods g ON o.goods_id = g.id
        LEFT JOIN t_goods_type gt ON g.type_id = gt.id
        WHERE o.parent_id = #{parentId}
        AND gt.symbol = #{symbol}
    </select>

    <delete id="deleteOrderById" parameterType="String">
        UPDATE t_order
        SET delete_status = '1'
        WHERE id = #{id}
    </delete>

</mapper>