<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.RelatedCompanyMapper">

    <resultMap id="relatedCompany" type="com.bc.erp.entity.RelatedCompany">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="alias" property="alias" jdbcType="VARCHAR"/>
        <result column="logo" property="logo" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="legal_person_name" property="legalPersonName" jdbcType="DECIMAL"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <collection property="relatedCompanyContactList"
                    javaType="list"
                    ofType="com.bc.erp.entity.RelatedCompanyContact"
                    select="getRcContactListByRcId"
                    column="id"/>
        <collection property="relatedCompanyAccountList"
                    javaType="list"
                    ofType="com.bc.erp.entity.RelatedCompanyAccount"
                    select="getRcAccountListByRcId"
                    column="id"/>
    </resultMap>

    <resultMap id="relatedCompanyContact" type="com.bc.erp.entity.RelatedCompanyContact">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
        <result column="rc_id" property="rcId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="relatedCompanyAccount" type="com.bc.erp.entity.RelatedCompanyAccount">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
        <result column="rc_id" property="rcId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="bank" property="bank" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addRelatedCompany" parameterType="com.bc.erp.entity.RelatedCompany">
        INSERT INTO t_related_company
        (
        id,
        enterprise_id,
        name,
        alias,
        logo,
        address,
        legal_person_name,
        create_time,
        create_id
        )
        VALUES
        (
        #{id},
        #{enterpriseId},
        #{name},
        #{alias},
        #{logo},
        #{address},
        #{legalPersonName},
        now(),
        #{createId}
        )
    </insert>

    <update id="updateRelatedCompany" parameterType="com.bc.erp.entity.RelatedCompany">
        UPDATE t_related_company
        <set>
            name = #{name},
            alias = #{alias},
            address = #{address},
            legal_person_name = #{legalPersonName},
            modify_time = now()
        </set>
        WHERE id = #{id}
    </update>

    <select id="getRelatedCompanyList" resultMap="relatedCompany">
        SELECT *
        FROM t_related_company
        WHERE enterprise_id = #{enterpriseId}
        AND delete_status = #{deleteStatus}
        <if test="keyword != null and keyword != ''">
            AND CONCAT(name, alias) LIKE CONCAT('%', #{keyword},'%')
        </if>
        ORDER BY modify_time DESC
    </select>

    <select id="getRelatedCompanyById" resultMap="relatedCompany">
        SELECT *
        FROM t_related_company
        WHERE id = #{id}
    </select>

    <select id="getRcContactListByRcId" resultMap="relatedCompanyContact">
        SELECT *
        FROM t_related_company_contact
        WHERE rc_id = #{id}
        AND delete_status = '0'
        ORDER BY create_time DESC
    </select>

    <select id="getRcAccountListByRcId" resultMap="relatedCompanyAccount">
        SELECT *
        FROM t_related_company_account
        WHERE rc_id = #{id}
        AND delete_status = '0'
        ORDER BY create_time DESC
    </select>

</mapper>