<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.RelatedCompanyContactMapper">

    <insert id="addRelatedCompanyContactList" parameterType="list">
        INSERT INTO t_related_company_contact
        (
        id,
        enterprise_id,
        rc_id,
        name,
        sex,
        job,
        phone,
        email,
        create_id,
        create_time,
        modify_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.enterpriseId},
            #{item.rcId},
            #{item.name},
            #{item.sex},
            #{item.job},
            #{item.phone},
            #{item.email},
            #{item.createId},
            now(),
            now()
            )
        </foreach>
    </insert>

    <update id="updateRelatedCompanyContactList" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE t_related_company_contact
            <set>
                name = #{item.name},
                sex = #{item.sex},
                job = #{item.job},
                phone = #{item.phone},
                email = #{item.email},
                modify_time = now()
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

    <delete id="deleteRcContact" parameterType="String">
        UPDATE t_related_company_contact
        SET delete_status = '1',
        delete_time = now()
        WHERE id = #{id}
    </delete>

</mapper>