<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.RelatedCompanyAccountMapper">

    <insert id="addRelatedCompanyAccountList" parameterType="list">
        INSERT INTO t_related_company_account
        (
        id,
        enterprise_id,
        rc_id,
        name,
        bank,
        number,
        currency,
        remark,
        create_id,
        create_time,
        modify_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.enterpriseId},
            #{item.rcId},
            #{item.name},
            #{item.bank},
            #{item.number},
            #{item.currency},
            #{item.remark},
            #{item.createId},
            now(),
            now()
            )
        </foreach>
    </insert>

    <update id="updateRelatedCompanyAccountList" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE t_related_company_account
            <set>
                name = #{item.name},
                bank = #{item.bank},
                number = #{item.number},
                currency = #{item.currency},
                remark = #{item.remark},
                modify_time = now()
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

    <delete id="deleteRcAccountList" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE t_related_company_account
            <set>
                delete_status = '1',
                delete_time = now()
            </set>
            WHERE id = #{item}
        </foreach>
    </delete>

</mapper>