<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.RelatedCompanyAccountMapper">

    <insert id="addRelatedCompanyAccountList" parameterType="list">
        INSERT INTO t_related_company_account
        (
        id,
        enterprise_id,
        rc_id,
        name,
        bank,
        number,
        currency,
        remark,
        create_id,
        create_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.enterpriseId},
            #{item.rcId},
            #{item.name},
            #{item.bank},
            #{item.number},
            #{item.currency},
            #{item.remark},
            #{item.createId},
            now()
            )
        </foreach>
    </insert>

    <update id="updateRelatedCompanyAccountList" parameterType="list">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE t_related_company_account
            SET
            name = #{name},
            bank = #{bank},
            number = #{number},
            currency = #{currency},
            remark = #{remark}
            where id = #{id}
        </foreach>
    </update>

</mapper>