<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.erp.mapper.StockInMapper">

    <insert id="addStockIn" parameterType="com.bc.erp.entity.stock.StockIn">
        INSERT INTO t_stock_in
        (
        id,
        enterprise_id,
        ware_house_id,
        type,
        related_company_id,
        remark,
        photos,
        entry_date,
        create_id,
        create_time
        )
        VALUES
        (
        #{id},
        #{enterpriseId},
        #{wareHouseId},
        #{type},
        #{relatedCompanyId},
        #{remark},
        #{photos},
        #{entryDate},
        #{createId},
        now()
        )
    </insert>

</mapper>